.hBox-1 {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 3;
    -fx-border-color: black;
}

.label-1 {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-width: 120;
    -fx-min-height: 20;
    -fx-font-size: 11pt;
}

.label-2 {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-width: 120;
    -fx-font-size: 25pt;
}

.button-1 {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-width: 120;
    -fx-font-size: 12pt;
}

.radio-button {
    -fx-min-width: 120;
    -fx-font-size: 12pt;
}

.choice-box-1 {
    -fx-alignment: center;
    -fx-text-alignment: right;
    -fx-min-width: 120;
    -fx-font-size: 12pt;
}

